body {
    background-image: url('bgexperience.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.navbar {
    background: linear-gradient(to right, rgb(196, 127, 70),  rgb(255, 186, 144));
}

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: pink;
}

.nav-link:hover {
    color: rgb(255, 111, 135);
}

.rounded {
    height: 400px;
    width: 400px;
}

.wrap {
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 20px;
}

.h2.textex{
    text-shadow: 0 0 6px #fff, 0 0 20px #fff, 0 0 30px rgb(196, 127, 70), 0 0 40px rgb(196, 127, 70);
    color: rgb(196, 127, 70);
}

.h1{
    color: white;
    text-shadow: 2px 2px 5px rgb(196, 127, 70);
}

.bottomtext{
    color: rgb(196, 127, 70);
}