body{
    background-image: url('imgbackground.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar {
    background: linear-gradient(to right, rgb(196, 127, 70),  rgb(255, 186, 144));
}

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: black;
}

.nav-link:hover {
    color: black;
}

.card {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 30%;
    margin-right: 30%;

}

.img-fluid {
    height: 100%;
}

.card-text {
    color: white;
}

.crdtext {
    background-color: rgb(255, 186, 144);
}

.card-title {
    color: rgb(196, 127, 70);
    text-shadow: 2px 2px white;
}

.card-title:hover {
    color: white;
    text-shadow: 2px 2px rgb(196, 127, 70) ;
}

.photo1 {
    object-fit: cover;
}

.rounded1 {
    height: 100px;
    width: 100px;
}

.rounded {
    height: 400px;
    width: 400px;
}

.wrap2photo {
    background: linear-gradient(to right,  rgb(196, 127, 70),  rgb(255, 186, 144));
    margin-top: 50px;
    padding: 50px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

@media (max-width : 469px) {
    .wrap2photo {
        padding: 0;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .rounded {
        height: 250px;
        width: 250px;
    }
    .wrapcard{
        width: 250px;
    }
    .mainwrap{
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }
    .card{
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width : 469px) and (max-width : 1200px){
    .wrap2photo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
}
@media (min-width : 1394px){
    .positioncard{
        display: flex;
        justify-content: center;
        margin-left: 1%;
        margin-right: -170px;
    }
}